.csscenter{float:center;text-align:center;}
			.cssheader{font-weight: bold;font-size:160%;}
			.container{font-family: trebuchet ms,geneva ce,lucida,sans-serif;}
			.accordion {
			  color: rgb(0, 0, 0);
			  background-color: white;;
			  cursor: pointer;
			  padding: 10px 10px;
			  margin-top:20px;
			  width: 100%;
			  border: 1px solid #00000042;
			  outline: none;
			  transition: 0.4s;
			}
			.active, .accordion:hover {
			  background-color: white;
			}
			.panel {
			  padding: 0 18px;
			  font-size: 18px;
			  background-color: white;
			  max-height: 0;
			  overflow: hidden;
			  transition: max-height 0.3s ease-out;
			  border: 1px solid #00000042;
			}
			.accordion-div{
				font-family: trebuchet ms,geneva ce,lucida,sans-serif;
				width: 80%;
				margin-left: auto;
				margin-right: auto;
			}
			textarea {
				white-space: normal;
				width: 50%;
				text-align: justify;
				-moz-text-align-last: center; 
				text-align-last: center;
			}
			.footer {
				position: fixed;
				left: 0;
				bottom: 0;
				width: 100%;
				background-color:white;
				text-align: center;
				font-family: trebuchet ms,geneva ce,lucida,sans-serif;
			}
			.rendered{
				width: 820px; height:auto;
			}