img,iframe{
    padding-top:15px;
    padding-bottom: 15px;
    max-width: 100%;
}

body{
    margin-right: auto;
    margin-left:auto;
    width: 80%;
    font-family:trebuchet ms,geneva ce,lucida,sans-serif

}