.csscenter{
	text-align: center;
}

.TrainNumber {
	color:red; 
	font-family: Arial, Helvetica, sans-serif; 
	text-transform:uppercase
}

.FirstStation{
	color:black;
	font-family: Arial, Helvetica, sans-serif; 
	text-transform:uppercase; 
	font-size:40px
}

.TrainName{
	color:red; 
	font-family: Arial, Helvetica, sans-serif; 
	text-transform: uppercase;
	text-align: right;
	font-style: italic;
}

body { 
  padding: 0 0; 
  background-color: #283339;
  font-family: "arial",sans-serif; 
  font-size: 13px;
  line-height:24px;
  color: #e8eaeb; 
  text-align: center; 
  margin: 0 !important;
  padding: 0 !important;
}

a {color:#fff;}
a:link {color:#fff;}
a:hover {color:#fff; text-decoration: none;}

h1 { font-size:200%; }
h2 { font-size:160%; font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif; font-weight: normal; }
h3 { font-size:120%; margin-top: 25px; font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;}
h4 { font-size:120%; margin: 0; padding: 0;}
h5 { font-size:100%; }

table { margin:15px 0; border: 1px solid #324455; border-collapse:collapse; border-spacing:0; font-size:100%; width: 100%;}
th { text-align:center; font-weight:bold; border: 1px solid #324455;}
th, td { padding:4px 6px; border: 1px solid #324455;}
tr.table-top {background: #425364; font-weight: bold;}
