body{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:trebuchet ms,geneva ce,lucida,sans-serif
}
header{
    text-align: center;
    font-size:160%;
    font-weight: bold;
}
footer{
    font-size: small;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
}