a {
    color: rgb(140, 140, 250);
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(255, 255, 255, 0.2) !important;
}
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3) !important;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5) !important;
}
embed[type="application/pdf"] {
    filter: invert(90%);
}
html {
    color: rgb(191, 191, 191);
    background: rgb(31, 31, 31) !important;
}
body {
    background-color: rgb(31, 31, 31);
    background-image: none !important;
}
font {
    color: rgb(191, 191, 191);
}
html {
    filter: contrast(100%) brightness(100%) saturate(100%);
}
.NIGHTEYE_Filter {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    pointer-events: none;
    z-index: 2147483647;
}
.NIGHTEYE_YellowFilter {
    background: rgba(255, 255, 0, 0.15);
    opacity: 0;
}
.NIGHTEYE_BlueFilter {
    background: rgba(0, 0, 255, 0.15);
    opacity: 0;
}
.NIGHTEYE_DimFilter {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
}
.NIGHTEYE_TransformZ {
    transform: translateZ(0px);
}
html {
    scroll-behavior: smooth;
}
.csscenter {
    text-align: center;
}
.cssheader {
    font-weight: bold;
    font-size: 180%;
    text-align: center;
    line-height: 2cm;
}
.container {
    font-family: "trebuchet ms", "geneva ce", lucida, sans-serif;
}
.main-image {
    text-align: center;
}
.accordion {
    color: rgb(191, 191, 191);
    background-color: rgb(28, 28, 33);
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.26);
    outline: none;
    transition: all 0.4s ease 0s;
}
.active,
.accordion:hover {
    background-color: rgb(28, 28, 33);
}
.panel {
    padding: 0px 18px;
    font-size: 18px;
    background-color: rgb(28, 28, 33);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out 0s;
    border: 1px solid rgba(0, 0, 0, 0.26);
}
.accordion-div {
    font-family: "trebuchet ms", "geneva ce", lucida, sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
textarea {
    white-space: normal;
    width: 50%;
    text-align: justify;
    text-align-last: center;
}
.footer {
    width: 100%;
    background-color: rgb(28, 28, 33);
    text-align: center;
    font-family: "trebuchet ms", "geneva ce", lucida, sans-serif;
}
.rendered {
    width: 820px;
    height: auto;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}
li {
    float: left;
}
li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(18, 18, 18);
}
.bar-title {
    font-family: "trebuchet ms", "geneva ce", lucida, sans-serif;
    font-size: 140%;
    font-weight: bolder;
    text-align: center;
}
.bar-subtitle {
    font-family: "trebuchet ms", "geneva ce", lucida, sans-serif;
    font-size: 100%;
    font-weight: normal;
    text-align: center;
}
.container {
    background-color: rgb(28, 28, 33);
    font-family: "trebuchet ms", "geneva ce", lucida, sans-serif;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
.description {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.github-stats {
    text-align: center;
}
.bar-content-subtitle {
    font-size: 120%;
    font-family: "trebuchet ms", "geneva ce", lucida, sans-serif;
    font-weight: normal;
    text-align: center;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
    width: fit-content;
    margin-top: 200px;
    margin-bottom: 200px;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
}
.card-container {
    padding: 2px 16px;
    text-align: center;
}
.cat-title {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.category {
    margin-top: 50px;
    margin-bottom: 50px;
}
.cat-text {
    text-align: center;
}
.cat-image {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
