html {
    scroll-behavior: smooth;
}
.csscenter{float:center;text-align:center;}
.cssheader{font-weight: bold;font-size:180%;text-align:center;line-height: 2cm;}
.container{font-family: trebuchet ms,geneva ce,lucida,sans-serif;}
.main-image{float: center;text-align:center;}
.accordion {
  color: rgb(0, 0, 0);
  background-color: white;;
  cursor: pointer;
  padding: 10px 10px;
  margin-top:20px;
  width: 100%;
  border: 1px solid #00000042;
  outline: none;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: white;
}
.panel {
  padding: 0 18px;
  font-size: 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  border: 1px solid #00000042;
}
.accordion-div{
    font-family: trebuchet ms,geneva ce,lucida,sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
textarea {
    white-space: normal;
    width: 50%;
    text-align: justify;
    -moz-text-align-last: center; 
    text-align-last: center;
}
.footer {
    width: 100%;
    background-color:white;
    text-align: center;
    font-family: trebuchet ms,geneva ce,lucida,sans-serif;
}
.rendered{
    width: 820px; height:auto;
}
ul {list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;}
li {float: left;}
li a {display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}
li a:hover {background-color: #111;}
.bar-title{font-family: trebuchet ms,geneva ce,lucida,sans-serif;font-size: 140%;font-weight:bolder;text-align:center;}
.bar-subtitle{font-family: trebuchet ms,geneva ce,lucida,sans-serif;font-size: 100%;font-weight:normal;text-align:center;}
.container{
    background-color: white;
    font-family: trebuchet ms,geneva ce,lucida,sans-serif;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
.description{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center
}
.github-stats{text-align: center;}
.bar-content-subtitle{font-size: 120%;font-family: trebuchet ms,geneva ce,lucida,sans-serif;font-weight:normal;text-align:center;}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: fit-content;
    margin-top: 200px;
      margin-bottom: 200px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container{padding: 2px 16px;text-align:center;}
.cat-title{
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-top: 10px;
      margin-bottom: 10px;
}
.category{
    margin-top: 50px;
      margin-bottom: 50px;
}
.cat-text{
    text-align: center;
}
.cat-image{
    margin-top: 50px;
      margin-bottom: 50px;
    display: flex;
    justify-content: center;
}